@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");

@font-face {
    font-family: Sabana;
    src: url(../font/Sabana.woff);
  }

html {
  scroll-behavior: smooth;
}

body {
    font-family: "Ubuntu",sans-serif;
}

h2 {
  text-align: center;
}

#navBar {
  border-bottom: 1px solid rgba(74,74,74,0.6);
}

#why, #what, #how, #compliance, #dashboard,#contact {
    color: #FC3D39 ;
    font-weight: 900;
    font-size: 1.2rem;
}

#why:hover,
#what:hover,
#how:hover,
#compliance:hover,
#dashboard:hover,
#contact:hover {
  background-color: rgba(245, 245, 245, 0.918);
}

.topBanner {
  background: #000;
  height: 95vh;
  width: 100%;
}

.nav-link {
  font-size: 1.3rem;
  border: solid 1px transparent;
  border-radius: 3px;
}

.navInfo {
 height: 80%;
}

.navText h1{
    font-size: 4rem;
}

.navText p{
    font-size: 2rem;
    font-weight: 100;
    width: 90vh;
    color: rgba(245, 245, 245, 0.904);
    font-family: Sabana;
}

.navText button{
    background-color: #FC3D39;
    color: white;
    font-size: 1.5rem;
    border-radius: 45px;
    font-family: "Ubuntu",sans-serif;
}

.navText button:hover{
    background-color: white;
    color: #FC3D39;
}

.navImage img{
    height: 50vh;
}

.content{
    background-color: white;
}

.card{
    background-color: rgb(36, 36, 36);
    border-radius: 25px;
}

.card-title{
    color: #FC3D39;
    font-size: 2.2rem;
}

.card-text{
    color: rgba(245, 245, 245, 0.719);
    font-family: Sabana;
    font-size: 2.3rem;
}

.mainContentImgTop{
    margin-right: 2.5rem;
}

.mainContentImgBottom{
    margin-left: 2.5rem;
}

.whyText{
    font-family: Sabana;
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.808);
}

.whyCardImage{
    height: 20rem;
}

.whyCard{
    margin-right: 15px;
    margin-left: 15px;
}

.whatText{
    font-family: Sabana;
    font-size: 2.2rem;
    color: rgba(245, 245, 245, 0.678);
}

.howText{
    font-family: Sabana;
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.808);
}

.howList{
    font-family: Sabana;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.596);
}

footer li{
    font-size: 20px;
    list-style-type: none;
}

footer a{
    text-decoration: none;
}

.footerHeading{
    font-family: Sabana;
    font-size: 45px;
    margin: 0%;
}

.topButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
}

.topButton button {
    height: 45px;
    width: 42px;
    text-align: center;
    padding: 0px;
    line-height: 45px;
    background-color: #FC3D39;
    border-radius: 3.5px;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.roadmapHeading{
    color: #FC3D39;
    text-transform: capitalize;
    font-family: Sabana;
    font-size: 50px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: rgb(19, 19, 19);
  box-shadow: black 0px 2px 18px 0px;
}
 
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: rgb(19, 19, 19);
  border-radius: 10px;
  box-shadow: black 0px 2px 18px 0px;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}
 
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #000 transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -439px;
}
 
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #000;
}

.timeline ul li::after {
  background: #FC3D39;
  transition: background .5s ease-in-out;
}
 
.timeline ul li.in-view::after {
  background: #FC3D39;
}
 
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}
 
.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}
 
.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}
 
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.in-view div h2{
    font-size:40px;
    color:#FC3D39;
    font-family: Sabana;
    text-transform: capitalize;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.in-view{
    color:rgba(255, 255, 255, 0.856);
    font-size: 20px;
    font-weight: 400;
    border-radius:10px;
}

@media screen and (min-width: 320px) and (max-width: 760px) {

    .topBanner{
        height: 100%;
    }

    .navInfo{
        padding:3rem;
    }

    .navText h1{
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .navText p{
        margin-right: 1rem;
        margin-left: 1rem;
        width: auto;
    }

    .navText button{
        margin-right: 1rem;
        margin-left: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .navInfo {
        height: auto;
    }

    .navImage img{
        margin-top:6rem;
        height: 35vh;
    }

    .card-text,.whyText,.whatText,.howText,.howList{
        font-size: 1.6rem;
    }

    .mainContentImgTop{
        margin-right: 0rem;
        margin-bottom: 1rem;
    }
    
    .mainContentImgBottom{
        margin-left: 0rem;
    }

    .whyCard{
        margin-right: 0px;
        margin-left: 0px;
    }

    .whyCardImage{
        height: 18rem;
    }

    .dashboardCard{
        align-items: center !important;
    }

    .footerRow{
        margin-bottom: 1rem;
    }  
    
    footer li{
        font-size: 18px;
        list-style-type: none;
    }

    .timeline{
        position: relative;
        right:45px;
    }
    .timeline ul li {
        margin-left: 20px;
    }
       
    .timeline ul li div {
        width: calc(100vw - 91px);
    }

    .complianceDiv{
        width: calc(100vw - 120px) !important;
    }
       
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
       
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #000 transparent transparent;
    }

    .in-view div h2{
        font-size:30px;
    }

    .in-view{
        font-size: 15px;
    }
}
